In [49]:
import pandas
from google.colab import files
uploaded = files.upload()
data = pandas.read_csv('titanic.csv', index_col='PassengerId')

Saving titanic.csv to titanic (2).csv

In [ ]:
data[data.Age.isnull()].reset_index()

In [144]:
#класс пассажира (Pclass), цену билета (Fare), возраст пассажира (Age) и его пол (Sex).
dataTrain = data[['Survived','Pclass','Fare','Age', 'Sex']]
dataTrain = dataTrain.dropna()
dataTrain =  dataTrain.head(250).reset_index()
dataTrain = dataTrain[['Survived','Pclass','Fare','Age', 'Sex']]

dataTest = data[['Survived','Pclass','Fare','Age', 'Sex']]
dataTest = dataTest.dropna().reset_index()
dataTest = dataTest[['Survived','Pclass','Fare','Age', 'Sex']]
dataTest

     Survived  Pclass     Fare   Age     Sex
0           0       3   7.2500  22.0    male
1           1       1  71.2833  38.0  female
2           1       3   7.9250  26.0  female
3           1       1  53.1000  35.0  female
4           0       3   8.0500  35.0    male
..        ...     ...      ...   ...     ...
709         0       3  29.1250  39.0  female
710         0       2  13.0000  27.0    male
711         1       1  30.0000  19.0  female
712         1       1  30.0000  26.0    male
713         0       3   7.7500  32.0    male

[714 rows x 5 columns]

In [ ]:

#dataTrain.dropna( how = 'any' ).reset_index().head(60)
#dataTrain.loc[dataTrain['Pclass'] == 2].pivot_table( 'Survived').plot(kind='bar', stacked=True)

#dataTrain.pivot_table( 'Pclass', 'Survived').plot(kind='bar', stacked=True)

In [145]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
dicts = {}

label.fit(dataTrain.Sex.drop_duplicates()) #задаем список значений для кодирования
dicts['Sex'] = list(label.classes_)
dataTrain.Sex = label.transform(dataTrain.Sex) #заменяем значения из списка кодами закодированных элементов 

label.fit(dataTest.Sex.drop_duplicates()) #задаем список значений для кодирования
dicts['Sex'] = list(label.classes_)
dataTest.Sex = label.transform(dataTest.Sex) #заменяем значения из списка кодами закодированных элементов 

#label.fit(dataTest.Embarked.drop_duplicates()) #задаем список значений для кодирования
#dicts['Embarked'] = list(label.classes_)
#dataTest.Embarked = label.transform(dataTest.Embarked)

dataTest

     Survived  Pclass     Fare   Age  Sex
0           0       3   7.2500  22.0    1
1           1       1  71.2833  38.0    0
2           1       3   7.9250  26.0    0
3           1       1  53.1000  35.0    0
4           0       3   8.0500  35.0    1
..        ...     ...      ...   ...  ...
709         0       3  29.1250  39.0    0
710         0       2  13.0000  27.0    1
711         1       1  30.0000  19.0    0
712         1       1  30.0000  26.0    1
713         0       3   7.7500  32.0    1

[714 rows x 5 columns]

In [146]:
import numpy as np
from sklearn.model_selection import train_test_split
target = dataTest.Survived
dataTest = dataTest.drop(['Survived'], axis=1)
ROCtrainTRN, ROCtestTRN, ROCtrainTRG, ROCtestTRG = train_test_split(dataTest, target, test_size=0.25,random_state=241)

In [147]:
from sklearn import tree
tree.DecisionTreeClassifier(random_state=241)
clf.fit(ROCtrainTRN, ROCtrainTRG)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=241, splitter='best')

In [148]:
clf.predict(ROCtestTRN)

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0])

In [149]:
ROCtestTRG

549    0
323    0
482    0
210    1
166    1
      ..
497    0
624    0
584    0
639    1
322    1
Name: Survived, Length: 179, dtype: int64

In [150]:
#clf.predict(ROCtestTRN, ROCtestTRG)
importances = clf.feature_importances_
importances

array([0.13462295, 0.32503234, 0.25618518, 0.28415953])

In [125]:
model_svc.probability = True
probas = model_svc.fit(ROCtrainTRN, ROCtrainTRG).predict_proba(ROCtestTRN)
fpr, tpr, thresholds = roc_curve(ROCtestTRG, probas[:, 1])
roc_auc  = auc(fpr, tpr)

NameError: ignored