In [ ]:
import pandas
from google.colab import files
uploaded = files.upload()
classification_data = pandas.read_csv('classification.csv')

Saving classification.csv to classification.csv
Saving scores.csv to scores.csv

In [ ]:


scores_data = pandas.read_csv('scores.csv')
scores_data

     true  score_logreg  score_svm  score_knn  score_tree
0       0      0.683832   0.145976   0.787063    0.500000
1       1      0.801966   0.239511   1.000000    0.833333
2       0      0.382315  -0.245701   0.000000    0.000000
3       1      0.506797  -0.137058   0.000000    0.105263
4       1      0.488781  -0.154148   0.000000    0.105263
..    ...           ...        ...        ...         ...
195     0      0.573801  -0.088203   0.284192    0.400000
196     0      0.624422  -0.012315   0.205437    0.400000
197     1      0.425538  -0.135673   0.382351    0.700000
198     0      0.905270   0.583806   1.000000    1.000000
199     0      0.275594  -0.422160   0.743567    0.642857

[200 rows x 5 columns]

In [ ]:
#первое задание 
classification_data
count_TP = 0
count_FP = 0
count_TN = 0
count_FN = 0
for i in range(len(classification_data)):
  if (classification_data['true'][i] == classification_data['pred'][i]) and (classification_data['true'][i] == 1):
    count_TP = count_TP + 1
  if (classification_data['true'][i] == classification_data['pred'][i]) and (classification_data['true'][i] == 0): 
    count_TN = count_TN + 1
  if (classification_data['true'][i] != classification_data['pred'][i]) and (classification_data['true'][i] == 0): 
    count_FP = count_FP + 1
  if (classification_data['true'][i] != classification_data['pred'][i]) and (classification_data['true'][i] == 1):
    count_FN = count_FN + 1
print(count_TP, count_FP, count_TN, count_FN)

43 34 64 59

In [ ]:
# второе задание 
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
accuracy = accuracy_score(classification_data['true'], classification_data['pred'])
precision = precision_score(classification_data['true'], classification_data['pred'])
recall = recall_score(classification_data['true'], classification_data['pred'])
f1 =  f1_score(classification_data['true'], classification_data['pred'])
print(accuracy, precision, recall, f1)

0.535 0.5584415584415584 0.4215686274509804 0.48044692737430167

In [ ]:
#третье задание 
from sklearn.metrics import roc_auc_score
logreg =roc_auc_score(scores_data['true'], scores_data['score_logreg'])
svm = roc_auc_score(scores_data['true'], scores_data['score_svm'])
knn = roc_auc_score(scores_data['true'], scores_data['score_knn'])
tree = roc_auc_score(scores_data['true'], scores_data['score_tree'])
print(logreg, svm, knn, tree)

0.719187675070028 0.7086834733893557 0.6351540616246498 0.6919267707082833

In [ ]:
#четвертое задание
from sklearn.metrics import precision_recall_curve
import numpy  as np
precision, recall, thresholds = precision_recall_curve(
    scores_data['true'], scores_data['score_logreg'])
data_logreg = pandas.DataFrame(precision, columns= ['precision'])
data_logreg['recall'] = recall
thresholds = np.append(thresholds, 0)
data_logreg['thresholds'] = thresholds
print(data_logreg.loc[(data_logreg['recall']>=0.7)].sort_values(by = 'precision', ascending=False,).head(1)['precision'])

78    0.630252
Name: precision, dtype: float64

In [ ]:
from sklearn.metrics import precision_recall_curve
import numpy  as np
precision, recall, thresholds = precision_recall_curve(scores_data['true'], scores_data['score_svm'])
data_svm = pandas.DataFrame(precision, columns= ['precision'])
data_svm['recall'] = recall
thresholds = np.append(thresholds, 0)
data_svm['thresholds'] = thresholds
print(data_svm.loc[(data_svm['recall']>=0.7)].sort_values(by = 'precision', ascending=False,).head(1)['precision'])

85    0.622807
Name: precision, dtype: float64

In [ ]:
from sklearn.metrics import precision_recall_curve
import numpy  as np
precision, recall, thresholds = precision_recall_curve(scores_data['true'], scores_data['score_knn'])
data_knn = pandas.DataFrame(precision, columns= ['precision'])
data_knn['recall'] = recall
thresholds = np.append(thresholds, 0)
data_knn['thresholds'] = thresholds
print(data_knn.loc[(data_knn['recall']>=0.7)].sort_values(by = 'precision', ascending=False,).head(1)['precision'])

34    0.606557
Name: precision, dtype: float64

In [ ]:
from sklearn.metrics import precision_recall_curve
import numpy  as np
precision, recall, thresholds = precision_recall_curve(scores_data['true'], scores_data['score_tree'])
data_tree = pandas.DataFrame(precision, columns= ['precision'])
data_tree['recall'] = recall
thresholds = np.append(thresholds, 0)
data_tree['thresholds'] = thresholds
print(data_tree.loc[(data_tree['recall']>=0.7)].sort_values(by = 'precision', ascending=False,).head(1)['precision'])

5    0.651786
Name: precision, dtype: float64

In [ ]:
print(data_logreg.loc[(data_logreg['recall']>=0.7)].sort_values(by = 'precision', ascending=False,).head(1)['precision'])
print(data_svm.loc[(data_svm['recall']>=0.7)].sort_values(by = 'precision', ascending=False,).head(1)['precision'])
print(data_knn.loc[(data_knn['recall']>=0.7)].sort_values(by = 'precision', ascending=False,).head(1)['precision'])
print(data_tree.loc[(data_tree['recall']>=0.7)].sort_values(by = 'precision', ascending=False,).head(1)['precision'])

78    0.630252
Name: precision, dtype: float64
85    0.622807
Name: precision, dtype: float64
34    0.606557
Name: precision, dtype: float64
5    0.651786
Name: precision, dtype: float64