In [1]:
import pandas
from google.colab import files
uploaded = files.upload()

Saving close_prices.csv to close_prices.csv
Saving djia_index.csv to djia_index.csv

In [2]:
close_prices_data = pandas.read_csv('close_prices.csv')
djia_index_data = pandas.read_csv('djia_index.csv')
close_prices_data = close_prices_data.iloc[:,1:]
close_prices_data

           AXP          BA        CAT  ...         VZ        WMT        XOM
0    76.440002  117.510002  85.029999  ...  47.980000  76.419998  87.750000
1    76.070000  119.000000  85.110001  ...  47.270000  75.750000  87.360001
2    75.989998  118.510002  84.500000  ...  46.950001  74.650002  87.139999
3    76.320000  119.379997  84.199997  ...  47.669998  74.620003  87.070000
4    75.889999  118.739998  83.800003  ...  47.000000  74.360001  86.900002
..         ...         ...        ...  ...        ...        ...        ...
369  81.559998  152.039993  80.190002  ...  48.730000  81.900002  84.220001
370  80.599998  151.570007  79.230003  ...  48.840000  81.900002  83.870003
371  81.500000  153.669998  79.970001  ...  49.270000  83.290001  84.760002
372  81.059998  154.509995  78.449997  ...  48.950001  82.620003  84.080002
373  81.860001  155.729996  81.330002  ...  49.540001  82.529999  86.070000

[374 rows x 30 columns]

In [36]:
print(sorted(pca.explained_variance_ratio_,reverse = True))

[0.7389711827152151, 0.11007169009870243, 0.04995088276979008, 0.028749198199932616, 0.022154478879638995, 0.019315766510432694, 0.006748531563257565, 0.006140910186598245, 0.0032059416856777107, 0.0030561103015804923]

In [23]:
from sklearn.decomposition import PCA
from functools import reduce
pca = PCA(n_components=10)
pca.fit(close_prices_data)
pc = pca.transform(close_prices_data)[:,0]
pca.explained_variance_ratio_
#count = reduce(lambda acc, i: (acc[0] + 1, acc[1] + i) if acc[1] < 0.9 else acc,
    #pca.explained_variance_ratio_, (0, 0))[0]
#count

count = 0
summ = 0
for i in range(len(pca.explained_variance_ratio_)):
  if summ < 0.9:
    summ = summ + pca.explained_variance_ratio_[i]
    count = count + 1
count

4

In [4]:
djia_index_data

           date          ^DJI
0    2013-09-23  15401.379883
1    2013-09-24  15334.589844
2    2013-09-25  15273.259766
3    2013-09-26  15328.299805
4    2013-09-27  15258.240234
..          ...           ...
369  2015-03-12  17895.220703
370  2015-03-13  17749.310547
371  2015-03-16  17977.419922
372  2015-03-17  17849.080078
373  2015-03-18  18076.189453

[374 rows x 2 columns]

In [9]:
from numpy import corrcoef
djia = djia_index_data['^DJI']
correlation = corrcoef(pc, djia)[0, 1]
correlation.round(2)

0.91

In [11]:
from numpy import argmax
company = close_prices_data.columns[argmax(pca.components_[0])]
company

'V'