In [29]:
import pandas
from google.colab import files
uploaded = files.upload()
data = pandas.read_csv('wine.data', 
                       names=['type','Алкоголь','яблочная кислота','Ash','щелочность золы','Магний','фенолы','Флаваноиды',
                             'нефлаваноидные фенолы', 'проантоцианины','интенсивность цвета','Оттенок','доля разбавленных вин','пролин'])

Saving wine.data to wine (2).data

In [31]:
data

     type  Алкоголь  яблочная кислота  ...  Оттенок  доля разбавленных вин  пролин
0       1     14.23              1.71  ...     1.04                   3.92    1065
1       1     13.20              1.78  ...     1.05                   3.40    1050
2       1     13.16              2.36  ...     1.03                   3.17    1185
3       1     14.37              1.95  ...     0.86                   3.45    1480
4       1     13.24              2.59  ...     1.04                   2.93     735
..    ...       ...               ...  ...      ...                    ...     ...
173     3     13.71              5.65  ...     0.64                   1.74     740
174     3     13.40              3.91  ...     0.70                   1.56     750
175     3     13.27              4.28  ...     0.59                   1.56     835
176     3     13.17              2.59  ...     0.60                   1.62     840
177     3     14.13              4.10  ...     0.61                   1.60     560

[178 rows x 14 columns]

In [32]:
from sklearn.neighbors import KNeighborsClassifier
import numpy as np
from sklearn.model_selection import KFold

In [33]:
import numpy as np
from sklearn.model_selection import KFold
KF = KFold(n_splits=5, shuffle=True, random_state=42)

In [26]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.preprocessing import *
from sklearn import metrics
 
data = pd.read_csv('wine.data', header=None)
X = pd.read_csv('wine.data', header=None, usecols=list(range(1,14)))
y = pd.read_csv('wine.data', header=None, usecols=[0]).values.reshape(len(X),)
 
kf = KFold(n_splits=5, shuffle=True, random_state=42)
 
kMeans = list()
for k in range(1, 51):
    kn = KNeighborsClassifier(n_neighbors=k)
    kn.fit(X, y);
    array = cross_val_score(estimator=kn, X=X, y=y, cv=kf, scoring='accuracy')
    m = array.mean()
    kMeans.append(m)   
 
m = max(kMeans)
indices = [i for i, j in enumerate(kMeans) if j == m]
 
print('1', indices[0]+1)
print('2', np.round(m,decimals=2))
 
X_scale = scale(X)
 
kMeans = list()
for k in range(1, 51):
    kn = KNeighborsClassifier(n_neighbors=k)
    array = cross_val_score(estimator=kn, X=X_scale, y=y, cv=kf, scoring='accuracy')
    m = array.mean()
    kMeans.append(m)   
 
m = max(kMeans)
indices = [i for i, j in enumerate(kMeans) if j == m]
 
print('3', indices[0]+1)
print('4', np.round(m,decimals=2))

1 1
2 0.73
3 29
4 0.98

In [27]:
X

        1     2     3     4    5     6   ...    8     9      10    11    12    13
0    14.23  1.71  2.43  15.6  127  2.80  ...  0.28  2.29   5.64  1.04  3.92  1065
1    13.20  1.78  2.14  11.2  100  2.65  ...  0.26  1.28   4.38  1.05  3.40  1050
2    13.16  2.36  2.67  18.6  101  2.80  ...  0.30  2.81   5.68  1.03  3.17  1185
3    14.37  1.95  2.50  16.8  113  3.85  ...  0.24  2.18   7.80  0.86  3.45  1480
4    13.24  2.59  2.87  21.0  118  2.80  ...  0.39  1.82   4.32  1.04  2.93   735
..     ...   ...   ...   ...  ...   ...  ...   ...   ...    ...   ...   ...   ...
173  13.71  5.65  2.45  20.5   95  1.68  ...  0.52  1.06   7.70  0.64  1.74   740
174  13.40  3.91  2.48  23.0  102  1.80  ...  0.43  1.41   7.30  0.70  1.56   750
175  13.27  4.28  2.26  20.0  120  1.59  ...  0.43  1.35  10.20  0.59  1.56   835
176  13.17  2.59  2.37  20.0  120  1.65  ...  0.53  1.46   9.30  0.60  1.62   840
177  14.13  4.10  2.74  24.5   96  2.05  ...  0.56  1.35   9.20  0.61  1.60   560

[178 rows x 13 columns]

In [28]:
y

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3])